<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
<input type="text" name="name" id="">
<input type="text" name="email" id="">
<input type="text" name="password" id="">
<input type="submit" value="Sign Up">
</form>